div#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    transform: translate(500px, 50px);
}

div#rotate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #6668e9;
    padding: 10px;
    transform: rotate(45deg);
}
div#scale{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #e9b266;
    padding: 10px;
    transform: scale(2,1);
}
div#skew{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #e3f61b;
    padding: 10px;
    transform: skew(-40deg,30deg);
}

div#transition{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    transform: background-color 6s border-radius 5s;
    transition-timing-function: ease-out;
    transition-delay: 1s;
}
div#transition:hover{
    background-color: aqua;
    border-radius: 50%;
}

/*transition key frames*/

div#animation{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color:aqua;
    padding: 10px;
    animation: pulse 5s ease 0s infinite;
}
@keyframes pulse{
    0%, 100%{
        background-color: yellow;
    }
    50%{
        background-color: powderblue;

    }
}
