/*absolute sticky relative static fixed */
#static{
    position: static;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
}
#relative{
    position: relative;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 20px;
    top: 50px;
    left: 20px;
}

#fixed{
    position: fixed;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    padding: 50px;
    top: 50px;
    right: 20px;

}
#sticky{
    position: sticky;
    border: 2px solid black;
 
    padding: 20px;
    top: 0px;
    background-color:bisque;

}

#parent{
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    top: 100px;
}
#absolute{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: powderblue;
    top: 50px;
    left: 50px;
}